<style>


</style>
<div class='container'>
	<div class='row'>
		<div class='col-md-4 text-left'>
			<br>
			<a href="/"><img src="/static/images/googleplay.png" width="30%"></a>
			<a href="/"><img src="/static/images/apple.png" width="30%"></a>
<br><br><br>
			<p>Copyright © Tzu-Yi</p>
		</div>
			<div class='col-md-4 text-left'>
				<h4>Links</h4>
				<a href="/"><img class="circle" src="/static/images/facebook.png" width="8%" border-radius:50%;></a>
				<a href="/"><img class="circle" src="/static/images/instagram.png" width="8%"></a>
				<a href="/"><img class="circle" src="/static/images/twitter.png" width="8%">
			</a>	
		</div>
			<div class='col-md-4 text-left'>
				<h4>Contact Us</h4>
				<p>4400 Massachusetts Ave NW, Washington, DC 20016<br>
						Phone:(038) 578-7890548<br>
						Email: <a href="mailto: pairing@gmaail.com">pairing@gmail.com</a>
		</div>
	</div>
</div>