{%extends 'base.html'%}
{% load static%}


	{% block title %}pairing{%endblock%}


{% block content %}

		<section id='intro' >

			<div class='jumbotron'>

				<div class='container'>
				
					<div class="col-md-12">
						<h1>THE BEST DATING WEBSITE EVER</h1>
						<p class="lead">COME JOIN US!</p>
						{%if username%}
						<a class="btn" href="/pairing/">Start Make Your Trip </a>
						{%else%}
						<a class="btn" href="/signup/">Sign Up</a>
						
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
						<a class="btn" href="/login/">Sign In</a>
						{%endif%}
					</div>
				</div>
			</div>
			

		</section>



				<div class='container' padding='100px'>
					<div class="row">
						<div class="col-md-4">
							<img  src="/static/images/love1.png" width='300'><br>
							<h4  align="center">Explore Your Passions</h4>
							<h7>It easy to chat up a match when you know you have something in common. The pairing app lets you add Passions to your profile and connect with people who share your interests.</h7>
						</div>
						<div class="col-md-4">
							<img  src="/static/images/love2.png" width='300'><br>
							<h4  align="center">Connect With People</h4>
							<h7>Go beyond your distance settings and chat with people around the world with our Passport™ feature. All it takes is an upgrade to a pairing subscription to be able to match anywhere from everywhere.</h7>
						</div>
						
						<div class="col-md-4">
						<img  src="/static/images/love3.png" width='300'><br>
							<h4  align="center">Date Safer</h4>
							<h7>We all eager to meet new people IRL, but dating during COVID-19 means putting your safety first. When six feet apart is not enough, Face to Face lets you video chat with your match so you can keep the connection going online.</h7>
						</div>
					</div>
				</div>
		<div class="row"><br><br></div>
			


{% endblock %}