{%extends 'base.html'%}
{% load static%}


	{% block title %}TripPlanner{%endblock%}


{% block content %}

		<section id='intro' >

			<div class='jumbotron'>

				<div class='container'>
					<div class="row">
						<div class="col-md-8">
							<h1>YOUR TRAVEL BUDDY</h1>
							<p class="lead">COME JOIN US!</p>
							{%if username%}
							<a class="btn" href="/result_page/">Start Make Your Trip </a>
							{%else%}
							<a class="btn" href="/signup/">Sign Up</a>
							
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						
							<a class="btn" href="/login/">Sign In</a>
							{%endif%}
						</div>
						{% if username %}
						<div class="col-md-4">
							<div class="chunkos-chat">
								<div id="chatbot_header">
									<div class="flex-wrapper">
										Chatbot
									</div>
								</div>
								<div class="chat-app" id="chat-app">
									<!-- Chat content will be loaded here -->
								</div>
								<!-- User input form -->
								<form id="user-input-form">
									<input type="text" id="user-message" placeholder="Type your message here...">
									<button type="submit">Send</button>
								</form>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			

		</section>



				<div class='container' padding='100px'>
					<div class="row">
						<div class="col-md-4">
							<img  src="/static/images/love1.png" width='300'><br>
							<h4  align="center">Explore Your Passions</h4>
							<h7>Go beyond conventional tourism and delve into their interests, whether it's art, history, cuisine, adventure, or any other passion</h7>
						</div>
						<div class="col-md-4">
							<img  src="/static/images/love2.png" width='300'><br>
							<h4  align="center">Find The Right Place</h4>
							<h7>We're dedicated to helping you find the right place to travel, tailored to your unique needs and desires.</h7>
						</div>
						
						<div class="col-md-4">
						<img  src="/static/images/love3.png" width='300'><br>
							<h4  align="center">Travel Safe</h4>
							<h7>Just enjoy the trip, we provided all the information you need</h7>
						</div>
					</div>
				</div>
		<div class="row"><br><br></div>
			


{% endblock %}